<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../yarn-endpoints-behavior/yarn-endpoints-behavior.html">
<link rel="import" href="../promise-polyfill/promise-polyfill-lite.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">

<script>
var YarnBehaviors = YarnBehaviors || {};

(function() {

APIBehaviorImpl = {
  
  properties: {
    endpoints: {
      type: Object,
      observer: '_onEndpointsChange'
    },
    defaultHost: {
      type: String,
      value: 'localhost:3001'
    },
    defaultProtocol: {
      type: String,
      value: 'http'
    },
    headers: {
      type: Object,
      observer: '_onHeadersChange'
    },
    simLatency: {
      type: Boolean,
      value: true
    },
    apiResponseHook: {
      type: Function
    },
    _body: {
      type: Object,
      observer: '_onBodyChange'
    },
    _handleAs: {
      type: String,
      observer: '_onHandleAsChange'
    },
    _defaultHandleAs: {
      type: String,
      value: 'json'
    },
    _method: {
      type: String,
      observer: '_onMethodChange'
    },
    _params: {
      type: Object,
      observer: '_onParamsChange'
    }
  },
  
  created: function() {
    
    this.ajax = document.createElement("iron-ajax");
    this.ajax.set('handleAs', this._defaultHandleAs);
    this.addEventListener('url-changed', this._onUrlChange);
  },
  
  _onEndpointsChange: function() {
    this._makeApi();
  },
  
  _onProtocolChange: function(newVal, oldVal) {
    this.ajax.set('protocol', newVal);
  },
  
  _onHostChange: function(newVal, oldVal) {
    this.ajax.set('host', newVal);
  },
  
  _onUrlChange: function(e) {
    this.ajax.set('url', e.detail.value);
  },
  
  _onBodyChange: function(newVal, oldVal) {
    this.ajax.set('body', newVal);
  },
  
  _onHandleAsChange: function(newVal, oldVal) {
    this.ajax.set('handleAs', newVal);
  },
  
  _onMethodChange: function(newVal, oldVal) {
    this.ajax.set('method', newVal);
  },
  
  _onHeadersChange: function(newVal, oldVal) {
    this.ajax.set('headers', newVal);
  },
  
  _onParamsChange: function(newVal, oldVal) {
    this.ajax.set('params', newVal);
  },
  
  _makeApi: function() {
    var self = this;
    Object.keys(this.endpoints).forEach(function(endpoint) {
      var method = self.endpoints[endpoint].method;
      
      switch(method) {
        case 'GET':
          // Creating a function on the element that matches the endpoint's name
          self[endpoint] = function(params, cb) {
            
            if(typeof params === 'function') {
              
              cb = params;
              params = null;
            }
            
            self.set('_body', null);
            self.set('_method', self.endpoints[endpoint].method);
            if(params) {
              self.set('_params', params);
            } else {
              self.set('_params', {});
            }
            if(self.endpoints[endpoint].host) {
              self.set('host', self.endpoints[endpoint].host);
            } else {
              self.set('host', self.defaultHost);
            }
            if(self.endpoints[endpoint].headers) {
              self.set('headers', self.endpoints[endpoint].headers);
            } else {
              self.set('headers', {});
            }
            if(self.endpoints[endpoint].protocol) {
              self.set('protocol', self.endpoints[endpoint].protocol);
            } else {
              self.set('protocol', self.defaultProtocol);
            }
            if(self.endpoints[endpoint].handleAs) {
              self.set('_handleAs', self.endpoints[endpoint].handleAs);
            } else {
              self.set('_handleAs', self._defaultHandleAs);
            }
            
            self.set('endpoint', endpoint);
            
            var apiResponseHook = self.apiResponseHook;
            
            if(typeof cb == 'function') {
              
              self.ajax.generateRequest().completes.then(function(request) {
                
                if(apiResponseHook) {
                  apiResponseHook(request);
                }
                cb(request);
              })
              .catch(function(reason) {
                if(apiResponseHook) {
                  apiResponseHook(request);
                }
                cb(reason);
              });
              
            } else {
              return new Promise(function(resolve, reject) {
                self.ajax.generateRequest().completes.then(function(request) {
                  if(apiResponseHook) {
                    apiResponseHook(request);
                  }
                  resolve(request);
                })
              });
            }
          }
          break;
        case 'POST':
        case 'PUT':
        case 'DELETE':
          // Creating a function on the element that matches the endpoint's name
          self[endpoint] = function(body, params, cb) {
            
            if(typeof body == 'function') {
              throw new Error('Your endpoint: "' + endpoint + '" needs a body!');
            }
            
            if(typeof params === 'function') {
              cb = params;
              params = null;
            }
            
            self.set('_body', body);
            self.set('_method', self.endpoints[endpoint].method);
            if(params) {
              self.set('_params', params);
            } else {
              self.set('_params', {});
            }
            if(self.endpoints[endpoint].host) {
              self.set('host', self.endpoints[endpoint].host);
            } else {
              self.set('host', self.defaultHost);
            }
            if(self.endpoints[endpoint].headers) {
              self.set('headers', self.endpoints[endpoint].headers);
            } else {
              self.set('headers', {});
            }
            if(self.endpoints[endpoint].protocol) {
              self.set('protocol', self.endpoints[endpoint].protocol);
            } else {
              self.set('protocol', self.defaultProtocol);
            }
            if(self.endpoints[endpoint].handleAs) {
              self.set('_handleAs', self.endpoints[endpoint].handleAs);
            } else {
              self.set('_handleAs', self._defaultHandleAs);
            }
            
            self.set('endpoint', endpoint);
            
            var apiResponseHook = self.apiResponseHook;
            
            if(typeof cb == 'function') {
              
              self.ajax.generateRequest().completes.then(function(request) {
                
                if(apiResponseHook) {
                  apiResponseHook(request);
                }
                cb(request);
              })
              .catch(function(reason) {
                if(apiResponseHook) {
                  apiResponseHook(request);
                }
                cb(reason);
              });
              
            } else {
              return new Promise(function(resolve, reject) {
                self.ajax.generateRequest().completes.then(function(request) {
                  if(apiResponseHook) {
                    apiResponseHook(request);
                  }
                  resolve(request);
                })
              });
            }
          }
          break;
      }
      
      if(!self.host) {
        self.host = self.defaultHost;
      }
      
      // Simulate latency if this.simLatency && host contains 'localhost'
      // monkeypatch
      if(self.simLatency && self.host.indexOf("localhost") !== -1) {
        
        var currentFunc = self[endpoint];
        
        // The length of a function is the number of expected arguments
        if(currentFunc.length === 2) {
          
          self[endpoint] = function(params, cb) {
            
            return new Promise(function(resolve, reject) {
              self.async(function() {
                resolve(currentFunc(params, cb));
              }, 300)
            });
            
          }
        } else if(currentFunc.length === 3) {
          
          self[endpoint] = function(body, params, cb) {
            
            return new Promise(function(resolve, reject) {
              self.async(function() {
                resolve(currentFunc(body, params, cb));
              }, 300)
            });
          }
        }
      }
    });
  }
};

YarnBehaviors.APIBehavior = [YarnBehaviors.EndpointsBehavior, APIBehaviorImpl];

})()
</script>
